@model IEnumerable<EmpManagement.Models.Employee>

@{
    ViewBag.Title = "EIndex";
}


<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css">

        <h1 style="color:blue;align-content:center"><u>Employee Details</u></h1>
       <h3> @Html.ActionLink("Create New", "ECreate")</h3>
  
      <div class="jumbotron">
        <table align="center"class="table" cellspacing="10" cellpadding="2">
            <tr>
                <th>
                    <b>
                        @Html.DisplayNameFor(model => model.Name)
                    </b>
                </th>
                <th>
                    <b>
                        @Html.DisplayNameFor(model => model.Designation)
                    </b>
                </th>
                
                <th>
                    <b>
                        @Html.DisplayNameFor(model => model.Emailid)
                    </b>
                </th>
                <th>
                    <b>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </b>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Designation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Emailid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.ContactNo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EEdit", new { id = item.ID })
                        @Html.ActionLink("Delete", "EDelete", new { id = item.ID })
                        @Html.ActionLink("Details", "EDetails", new { id = item.ID })
                    </td>
                </tr>
            }



        </table>
    </div>
