@model IEnumerable<EmpManagement.Models.Employee>

@{
    ViewBag.Title = "Index";
}


        <h1 style="color:blue;align-content:center"><u>Employee Details</u></h1>
    
      <div class="jumbotron">
        <table align="center" class="table" cellspacing="10" cellpadding="2">

            <tr><td>
                @Html.ActionLink("Home", "../Home/Index")|
                 @Html.ActionLink("Create New", "Create")
                </td>
            </tr>
            <tr>
                <th>
                    <b>
                        @Html.DisplayNameFor(model => model.Name)
                    </b>
                </th>
                <th>
                    <b>
                        @Html.DisplayNameFor(model => model.Designation)
                    </b>
                </th>
                
                <th>
                    <b>
                        @Html.DisplayNameFor(model => model.Emailid)
                    </b>
                </th>
                <th>
                    <b>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </b>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Designation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Emailid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.ContactNo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </td>
                </tr>
                
            }



        </table>
    </div>
