@model EmpManagement.Models.Dept
@{
    ViewBag.Title = "DDetails";
}


<h2>Details</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <table cellspacing="5">

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ID)
                </td>

                <td>
                    @Html.DisplayFor(model => model.ID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DName)
                </td>

                <td>
                    @Html.DisplayFor(model => model.DName)
                </td>
            </tr>
            </table>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "DEdit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "DIndex")

</p>

