@model EmpManagement.Models.Dept
@{
    ViewBag.Title = "Delete";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css">

<h1 style="color:blue"> Are you sure you want to delete all Records of "@Html.DisplayFor(model => model.DName)" </h1>
<div class="jumbotron">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();

        <table cellspacing="10" align="center" class="table" cellpadding="5" style="font-size:large">
          
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DName)
                </td>

                <td>
                    @Html.DisplayFor(model => model.DName)
                </td>
            </tr>

            <tr>
                <td align="center">
                    <input type="submit" value="Delete" class="btn btn-default" /> 
                </td>
                </tr>
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) 
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Back to List", "Index")
                </td>
            </tr>
        </table>
    }
</div>


